In [2]:
import numpy as np
import pandas as pd
import sqlite3
conn = sqlite3.connect('zippedData/im.db')
cur = conn.cursor()

In [3]:
pd.read_sql("""
SELECT name
FROM sqlite_schema
WHERE type='table'
ORDER BY name;""", conn)

            name
0      directors
1      known_for
2     movie_akas
3   movie_basics
4  movie_ratings
5        persons
6     principals
7        writers

In [4]:
df1 = pd.read_sql("""
SELECT * FROM movie_basics MB join movie_ratings MR
    on MB.movie_id = MR.movie_id;""", conn)

In [5]:
df1

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119
...,...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,tt9913084,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",tt9914286,8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,tt9914642,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,tt9914942,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,tt9916160,6.5,11

In [6]:
df1.shape

(73856, 9)

In [7]:
df1['numvotes'].mean()

3523.6621669194105

In [8]:
df2 = pd.read_sql("""
SELECT mb.movie_id,  *
FROM movie_basics MB join movie_ratings MR on MB.movie_id = MR.movie_id
join movie_akas MA on MB.movie_id = MA.movie_id
WHERE numvotes > 5000 AND (region = "US")
Group By MB.movie_id
ORDER BY averagerating desc;""", conn)

In [9]:
df2.head(20)

,movie_id,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt7131622,tt7131622,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama",tt7131622,9.7,5600,tt7131622,20,Untitled #9,US,None,working,None,0.0
1,tt7738784,tt7738784,Peranbu,Peranbu,2018,147.0,Drama,tt7738784,9.4,9629,tt7738784,4,Peranbu,US,None,imdbDisplay,None,0.0
2,tt2170667,tt2170667,Wheels,Wheels,2014,115.0,Drama,tt2170667,9.3,17308,tt2170667,1,Wheels,US,None,None,None,0.0
3,tt5275892,tt5275892,O.J.: Made in America,O.J.: Made in America,2016,467.0,"Biography,Crime,Documentary",tt5275892,8.9,14946,tt5275892,1,O.J.: Made in America,US,None,None,None,0.0
4,tt7019842,tt7019842,96,96,2018,158.0,"Drama,Romance",tt7019842,8.8,10903,tt7019842,2,96,US,None,imdbDisplay,None,0.0
5,tt4154796,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi",tt4154796,8.8,441135,tt4154796,14,Avengers: Endgame,US,None,None,None,0.0
6,tt1375666,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",tt1375666,8.8,1841066,tt1375666,24,Inception,US,None,imdbDisplay,None,0.0
7,tt7465992,tt7465992,Mahanati,Mahanati,2018,177.0,"Biography,Drama",tt7465992,8.7,6917,tt7465992,6,The Great Actress,US,None,None,informal English title,0.0
8,tt4640206,tt4640206,Sachin,Sachin,2017,138.0,"Biography,Documentary,Drama",tt4640206,8.7,7122,tt4640206,1,Sachin The Film,US,None,alternative,None,0.0
9,tt8291224,tt8291224,Uri: The Surgical Strike,Uri: The Surgical Strike,2019,138.0,"Action,Drama,War",tt8291224,8.6,30292,tt8291224,4,Uri: The Surgical Strike,US,None,imdbDisplay,None,0.0
10,tt7392212,tt7392212,The Stage,Rangasthalam,2018,170.0,"Action,Drama",tt7392212,8.6,15407,tt7392212,4,The Stage,US,en,None,None,0.0
11,tt0816692,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",tt0816692,8.6,1299334,tt0816692,14,Interstellar,US,None,None,None,0.0
12,tt8267604,tt8267604,Capernaum,Capharnaüm,2018,126.0,Drama,tt8267604,8.5,20215,tt8267604,22,Chaos,US,None,alternative,None,0.0
13,tt8108198,tt8108198,Andhadhun,Andhadhun,2018,139.0,"Crime,Thriller",tt8108198,8.5,43409,tt8108198,7,Andhadhun,US,None,imdbDisplay,None,0.0
14,tt6380520,tt6380520,Dhuruvangal Pathinaaru,Dhuruvangal Pathinaaru,2016,105.0,"Action,Crime,Mystery",tt6380520,8.5,8560,tt6380520,3,16 Extremes,US,None,None,informal English title,0.0
15,tt5074352,tt5074352,Dangal,Dangal,2016,161.0,"Action,Biography,Drama",tt5074352,8.5,123638,tt5074352,6,Wrestling Competition,US,None,None,informal English title,0.0
16,tt4987556,tt4987556,Thani Oruvan,Thani Oruvan,2015,160.0,"Action,Crime,Thriller",tt4987556,8.5,13747,tt4987556,5,The Sole One,US,None,None,informal English title,0.0
17,tt4633694,tt4633694,Spider-Man: Into the Spider-Verse,Spider-Man: Into the Spider-Verse,2018,117.0,"Action,Adventure,Animation",tt4633694,8.5,210869,tt4633694,29,Spider-Man: Into the Spider-Verse,US,None,imdbDisplay,None,0.0
18,tt4154756,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",tt4154756,8.5,670926,tt4154756,14,Avengers: Infinity War,US,en,None,None,0.0
19,tt2582802,tt2582802,Whiplash,Whiplash,2014,106.0,"Drama,Music",tt2582802,8.5,616916,tt2582802,7,Whiplash,US,None,imdbDisplay,None,0.0

In [10]:
df3 = pd.read_sql("""
SELECT p.primary_name, mb.primary_title, mr.averagerating
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 
ORDER BY averagerating desc; """, conn)

In [11]:
df3

                primary_name                      primary_title  averagerating
0                  Brad Pitt  Once Upon a Time ... in Hollywood            9.7
1          Leonardo DiCaprio  Once Upon a Time ... in Hollywood            9.7
2          Quentin Tarantino  Once Upon a Time ... in Hollywood            9.7
3               David Heyman  Once Upon a Time ... in Hollywood            9.7
4               Barbara Ling  Once Upon a Time ... in Hollywood            9.7
...                      ...                                ...            ...
48222           Arifin Putra                     Hanum & Rangga            1.2
48223            Rio Dewanto                     Hanum & Rangga            1.2
48224         Benni Setiawan                     Hanum & Rangga            1.2
48225  Hanum Salsabiela Rais                     Hanum & Rangga            1.2
48226      Rangga Almahendra                     Hanum & Rangga            1.2

[48227 rows x 3 columns]

In [12]:
df4 = pd.read_sql("""
SELECT p.primary_name, mb.primary_title, mr.averagerating
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 AND primary_name = "Leonardo DiCaprio"
ORDER BY averagerating desc; """, conn)

In [13]:
df4

         primary_name                      primary_title  averagerating
0   Leonardo DiCaprio  Once Upon a Time ... in Hollywood            9.7
1   Leonardo DiCaprio                          Inception            8.8
2   Leonardo DiCaprio                   Django Unchained            8.4
3   Leonardo DiCaprio                   Before the Flood            8.3
4   Leonardo DiCaprio            The Wolf of Wall Street            8.2
5   Leonardo DiCaprio                     Shutter Island            8.1
6   Leonardo DiCaprio                       The Revenant            8.0
7   Leonardo DiCaprio                             Hubble            7.7
8   Leonardo DiCaprio                   The Great Gatsby            7.3
9   Leonardo DiCaprio                 Out of the Furnace            6.8
10  Leonardo DiCaprio                           J. Edgar            6.6
11  Leonardo DiCaprio                      Live by Night            6.4
12  Leonardo DiCaprio                           Delirium            5.7
13  Leonardo DiCaprio                      Runner Runner            5.6
14  Leonardo DiCaprio                    Red Riding Hood            5.5
15  Leonardo DiCaprio                         Robin Hood            5.3

In [14]:
df4.shape

(16, 3)

In [35]:
df4 = pd.read_sql("""
SELECT p.primary_name, mb.primary_title, mr.averagerating
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 and primary_name = 'Nicolas Cage'
ORDER BY averagerating desc; """, conn)

In [36]:
df4

    primary_name                                  primary_title  averagerating
0   Nicolas Cage                                       Kick-Ass            7.6
1   Nicolas Cage                                     The Croods            7.2
2   Nicolas Cage  The Death of "Superman Lives": What Happened?            7.1
3   Nicolas Cage                                            Joe            6.9
4   Nicolas Cage                                          Mandy            6.6
5   Nicolas Cage                              The Frozen Ground            6.4
6   Nicolas Cage                                Seeking Justice            6.2
7   Nicolas Cage                      The Sorcerer's Apprentice            6.1
8   Nicolas Cage                               A Thousand Words            5.9
9   Nicolas Cage                                         Stolen            5.5
10  Nicolas Cage                                    Mom and Dad            5.5
11  Nicolas Cage                            Season of the Witch            5.4
12  Nicolas Cage                                    Drive Angry            5.4
13  Nicolas Cage                                      The Trust            5.4
14  Nicolas Cage                                       Trespass            5.3
15  Nicolas Cage               USS Indianapolis: Men of Courage            5.2
16  Nicolas Cage                                  Inconceivable            5.2
17  Nicolas Cage                                  Pay the Ghost            5.2
18  Nicolas Cage                        Vengeance: A Love Story            5.2
19  Nicolas Cage                                    Army of One            5.1
20  Nicolas Cage                            The Humanity Bureau            5.1
21  Nicolas Cage                                           Rage            5.0
22  Nicolas Cage                                 Between Worlds            4.8
23  Nicolas Cage                                     The Runner            4.7
24  Nicolas Cage                                    Dog Eat Dog            4.7
25  Nicolas Cage                                        Outcast            4.6
26  Nicolas Cage                                  Looking Glass            4.5
27  Nicolas Cage                             Dying of the Light            4.4
28  Nicolas Cage                                            211            4.4
29  Nicolas Cage               Ghost Rider: Spirit of Vengeance            4.3
30  Nicolas Cage                                        Arsenal            4.0
31  Nicolas Cage                                    Left Behind            3.1

In [37]:
df4['averagerating'].describe()

count    32.000000
mean      5.375000
std       0.996769
min       3.100000
25%       4.700000
50%       5.200000
75%       5.950000
max       7.600000
Name: averagerating, dtype: float64

In [40]:
df5 = pd.read_sql("""
SELECT p.primary_name, mr.averagerating, count(primary_name) as "Number of Movies Appeared in"
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 and primary_name = 'Nicolas Cage'
Group By primary_name
ORDER BY averagerating desc; """, conn)

In [41]:
df5

   primary_name  averagerating  Number of Movies Appeared in
0  Nicolas Cage            5.4                            32

In [46]:
df6 = pd.read_sql("""
SELECT p.primary_name, mr.averagerating, count(primary_name) as "Number of Movies Appeared in"
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 
Group By primary_name
HAVING Count(primary_name) > 10
ORDER BY averagerating desc; """, conn)

In [49]:
df6.head(50)

              primary_name  averagerating  Number of Movies Appeared in
0          Vikram Malhotra            8.2                            12
1           Manoj Bajpayee            8.2                            11
2             Mark Ruffalo            8.1                            14
3          Charlize Theron            8.1                            13
4             Ben Kingsley            8.1                            14
5           Anurag Kashyap            8.1                            23
6        Alexandre Desplat            8.1                            32
7                Tom Hardy            8.0                            13
8            Taapsee Pannu            8.0                            11
9              Sunil Lulla            8.0                            15
10     Nawazuddin Siddiqui            8.0                            12
11       Leonardo DiCaprio            8.0                            16
12            Keanu Reeves            8.0                            16
13        Domhnall Gleeson            8.0                            11
14             Colin Firth            8.0                            14
15            Basil Iwanyk            8.0                            13
16             A.R. Rahman            8.0                            21
17               Tom Hanks            7.8                            14
18         Elizabeth Banks            7.8                            16
19             Chris Pratt            7.8                            12
20        Catherine Keener            7.8                            11
21               Amy Adams            7.8                            14
22  Lorenzo di Bonaventura            7.7                            16
23            John Abraham            7.7                            15
24       Charles Gillibert            7.7                            11
25            Sonam Kapoor            7.6                            12
26           Sidney Kimmel            7.6                            16
27         Michael De Luca            7.6                            14
28              Jonah Hill            7.6                            16
29              Chris Pine            7.6                            13
30               Brad Pitt            7.6                            15
31           Megan Ellison            7.5                            15
32           Anton Yelchin            7.5                            11
33              Tom Cruise            7.4                            12
34        Steven Spielberg            7.4                            11
35              Simon Pegg            7.4                            13
36           Shobha Kapoor            7.4                            11
37    Samantha Ruth Prabhu            7.4                            13
38            Ryan Gosling            7.4                            15
39              Rose Byrne            7.4                            15
40             Ritesh Shah            7.4                            13
41         Michael Andrews            7.4                            15
42   Lynette Howell Taylor            7.4                            11
43          Julianne Moore            7.4                            16
44    Joseph Gordon-Levitt            7.4                            12
45           Jeremy Renner            7.4                            12
46          Jeremy Kleiner            7.4                            12
47             J.J. Abrams            7.4                            11
48           Emraan Hashmi            7.4                            11
49         Devi Sri Prasad            7.4                            11

In [51]:
df7 = pd.read_sql("""
SELECT p.primary_name, mr.averagerating, count(primary_name) as "Number of Movies Directed"
FROM persons p join directors d on 
    p.person_id = d.person_id
    join movie_basics mb
    on d.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 
Group By primary_name
HAVING Count(primary_name) > 10
ORDER BY averagerating desc; """, conn)

In [53]:
df7.head(30)

             primary_name  averagerating  Number of Movies Directed
0         Sriram Raghavan            8.5                         12
1             Zoya Akhtar            8.3                         23
2                 Sukumar            8.3                         20
3          Peter Farrelly            8.3                         36
4        Denis Villeneuve            8.3                         12
5              James Gunn            8.1                         45
6          Anurag Kashyap            8.1                         32
7            Ridley Scott            8.0                         22
8             Karan Johar            8.0                         18
9              Kabir Khan            8.0                         15
10  Alejandro G. Iñárritu            8.0                         11
11          Peter Jackson            7.9                         16
12         S.S. Rajamouli            7.8                         19
13              Joe Russo            7.8                         30
14   Felix van Groeningen            7.8                         11
15       David O. Russell            7.8                         13
16         Chris Williams            7.8                         14
17           Byron Howard            7.8                         11
18          Anthony Russo            7.8                         30
19             Rich Moore            7.7                         23
20          Keishi Ohtomo            7.7                         11
21        Joseph Kosinski            7.7                         12
22           Chris Renaud            7.7                         12
23            Yimou Zhang            7.6                         12
24      Thomas Vinterberg            7.6                         12
25          Taika Waititi            7.5                         15
26          Nitesh Tiwari            7.5                         13
27            Guy Ritchie            7.5                         14
28              Tim Story            7.4                         21
29          Takashi Miike            7.4                         12

In [67]:
import pandas as pd

df = pd.read_csv(r'zippedData\bom.movie_gross.csv',index_col=0)

In [68]:
df

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...
The Quake,Magn.,6200.0,NaN,2018
Edward II (2018 re-release),FM,4800.0,NaN,2018
El Pacto,Sony,2500.0,NaN,2018
The Swan,Synergetic,2400.0,NaN,2018
An Actor Prepares,Grav.,1700.0,NaN,2018

In [69]:
df.head(15)

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010
The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010
Iron Man 2,Par.,312400000.0,311500000,2010
Tangled,BV,200800000.0,391000000,2010
Despicable Me,Uni.,251500000.0,291600000,2010
How to Train Your Dragon,P/DW,217600000.0,277300000,2010
Clash of the Titans (2010),WB,163200000.0,330000000,2010
The Chronicles of Narnia: The Voyage of the Dawn Treader,Fox,104400000.0,311300000,2010
The King's Speech,Wein.,135500000.0,275400000,2010
Tron Legacy,BV,172100000.0,228000000,2010
The Karate Kid,Sony,176600000.0,182500000,2010

In [71]:
df.sort_values(by=['domestic_gross'], ascending=False)

                                studio  domestic_gross foreign_gross  year
title
Star Wars: The Force Awakens        BV     936700000.0       1,131.6  2015
Black Panther                       BV     700100000.0     646900000  2018
Avengers: Infinity War              BV     678800000.0       1,369.5  2018
Jurassic World                    Uni.     652300000.0       1,019.4  2015
Marvel's The Avengers               BV     623400000.0     895500000  2012
...                                ...             ...           ...   ...
Surprise - Journey To The West      AR             NaN      49600000  2015
Finding Mr. Right 2                 CL             NaN     114700000  2016
Solace                             LGP             NaN      22400000  2016
Viral                           W/Dim.             NaN        552000  2016
Secret Superstar                   NaN             NaN     122000000  2017

[3387 rows x 4 columns]