In [20]:
import numpy as np
import pandas as pd
import sqlite3
conn = sqlite3.connect('zippedData/im.db')
cur = conn.cursor()

In [2]:
pd.read_sql("""
SELECT name
FROM sqlite_schema
WHERE type='table'
ORDER BY name;""", conn)

            name
0      directors
1      known_for
2     movie_akas
3   movie_basics
4  movie_ratings
5        persons
6     principals
7        writers

                         Movie Title  Year  Runtime  Rating   Votes
0  Once Upon a Time ... in Hollywood  2019    159.0     9.7    5600
1                Ekvtime: Man of God  2018    132.0     9.6    2604
2                      Aloko Udapadi  2017    113.0     9.5    6509
3                            Peranbu  2018    147.0     9.4    9629
4                             Dag II  2016    135.0     9.3  100568

In [50]:
df1 = pd.read_sql("""
SELECT * FROM movie_basics MB join movie_ratings MR
    on MB.movie_id = MR.movie_id;""", conn)

In [34]:
df1

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119
...,...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,tt9913084,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",tt9914286,8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,tt9914642,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,tt9914942,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,tt9916160,6.5,11

In [35]:
df1.shape

(73856, 9)

In [36]:
df1['numvotes'].mean()

3523.6621669194105

In [77]:
df2 = pd.read_sql("""
SELECT mb.movie_id,  *
FROM movie_basics MB join movie_ratings MR on MB.movie_id = MR.movie_id
join movie_akas MA on MB.movie_id = MA.movie_id
WHERE numvotes > 5000 AND (region = "US")
Group By MB.movie_id
ORDER BY averagerating desc;""", conn)

In [78]:
df2.head(20)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt7131622,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama",tt7131622,9.7,5600,tt7131622,2,#9,XWW,en,None,informal title,0.0
1,tt7738784,Peranbu,Peranbu,2018,147.0,Drama,tt7738784,9.4,9629,tt7738784,2,Resurrection,IN,en,festival,None,0.0
2,tt5813916,The Mountain II,Dag II,2016,135.0,"Action,Drama,War",tt5813916,9.3,100568,tt5813916,7,The Mountain II,XWW,en,imdbDisplay,None,0.0
3,tt5354160,Aynabaji,Aynabaji,2016,147.0,"Crime,Mystery,Thriller",tt5354160,9.3,18470,tt5354160,2,Mirror Game,BD,en,imdbDisplay,None,0.0
4,tt2170667,Wheels,Wheels,2014,115.0,Drama,tt2170667,9.3,17308,tt2170667,1,Wheels,US,None,None,None,0.0
5,tt5275892,O.J.: Made in America,O.J.: Made in America,2016,467.0,"Biography,Crime,Documentary",tt5275892,8.9,14946,tt5275892,1,O.J.: Made in America,US,None,None,None,0.0
6,tt7060344,Ratsasan,Ratsasan,2018,170.0,"Action,Crime,Thriller",tt7060344,8.8,10518,tt7060344,2,Demon,XWW,en,None,informal literal English title,0.0
7,tt7019842,96,96,2018,158.0,"Drama,Romance",tt7019842,8.8,10903,tt7019842,2,96,US,None,imdbDisplay,None,0.0
8,tt4154796,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi",tt4154796,8.8,441135,tt4154796,5,Avengers: Endgame,TH,en,working,None,0.0
9,tt3417422,Drishyam,Drishyam,2013,160.0,"Crime,Drama,Thriller",tt3417422,8.8,24326,tt3417422,2,Visual,XWW,en,None,informal alternative title,0.0
10,tt2077886,The Phantom of the Opera at the Royal Albert Hall,The Phantom of the Opera at the Royal Albert Hall,2011,137.0,"Drama,Music,Musical",tt2077886,8.8,5926,tt2077886,12,Andrew Lloyd Webber's The Phantom of the Opera...,XWW,en,None,complete title,0.0
11,tt1375666,Inception,Inception,2010,148.0,"Action,Adventure,Sci-Fi",tt1375666,8.8,1841066,tt1375666,8,Inception,US,en,None,None,0.0
12,tt7465992,Mahanati,Mahanati,2018,177.0,"Biography,Drama",tt7465992,8.7,6917,tt7465992,2,A Great Actress,XWW,en,None,subtitle,0.0
13,tt4640206,Sachin,Sachin,2017,138.0,"Biography,Documentary,Drama",tt4640206,8.7,7122,tt4640206,1,Sachin The Film,US,None,alternative,None,0.0
14,tt8291224,Uri: The Surgical Strike,Uri: The Surgical Strike,2019,138.0,"Action,Drama,War",tt8291224,8.6,30292,tt8291224,4,Uri: The Surgical Strike,US,None,imdbDisplay,None,0.0
15,tt7392212,The Stage,Rangasthalam,2018,170.0,"Action,Drama",tt7392212,8.6,15407,tt7392212,4,The Stage,US,en,None,None,0.0
16,tt1424432,Senna,Senna,2010,106.0,"Biography,Documentary,Sport",tt1424432,8.6,55318,tt1424432,8,Ayrton Senna: Beyond the Speed of Sound,JP,en,None,promotional title,0.0
17,tt0816692,Interstellar,Interstellar,2014,169.0,"Adventure,Drama,Sci-Fi",tt0816692,8.6,1299334,tt0816692,2,Interstellar,US,en,None,None,0.0
18,tt8267604,Capernaum,Capharnaüm,2018,126.0,Drama,tt8267604,8.5,20215,tt8267604,2,Capharnaum,XWW,en,None,alternative spelling,0.0
19,tt8108198,Andhadhun,Andhadhun,2018,139.0,"Crime,Thriller",tt8108198,8.5,43409,tt8108198,7,Andhadhun,US,None,imdbDisplay,None,0.0

In [90]:
df3 = pd.read_sql("""
SELECT p.primary_name, mb.primary_title, mr.averagerating
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 
ORDER BY averagerating desc; """, conn)

In [91]:
df3

                primary_name                      primary_title  averagerating
0                  Brad Pitt  Once Upon a Time ... in Hollywood            9.7
1          Leonardo DiCaprio  Once Upon a Time ... in Hollywood            9.7
2          Quentin Tarantino  Once Upon a Time ... in Hollywood            9.7
3               David Heyman  Once Upon a Time ... in Hollywood            9.7
4               Barbara Ling  Once Upon a Time ... in Hollywood            9.7
...                      ...                                ...            ...
48222           Arifin Putra                     Hanum & Rangga            1.2
48223            Rio Dewanto                     Hanum & Rangga            1.2
48224         Benni Setiawan                     Hanum & Rangga            1.2
48225  Hanum Salsabiela Rais                     Hanum & Rangga            1.2
48226      Rangga Almahendra                     Hanum & Rangga            1.2

[48227 rows x 3 columns]

In [93]:
df4 = pd.read_sql("""
SELECT p.primary_name, mb.primary_title, mr.averagerating
FROM persons p join principals pr on 
    p.person_id = pr.person_id
    join movie_basics mb
    on pr.movie_id = mb.movie_id
    join movie_ratings mr on mb.movie_id=mr.movie_id
WHERE mr.numvotes > 3400 AND primary_name = "Leonardo DiCaprio"
ORDER BY averagerating desc; """, conn)

In [94]:
df4

         primary_name                      primary_title  averagerating
0   Leonardo DiCaprio  Once Upon a Time ... in Hollywood            9.7
1   Leonardo DiCaprio                          Inception            8.8
2   Leonardo DiCaprio                   Django Unchained            8.4
3   Leonardo DiCaprio                   Before the Flood            8.3
4   Leonardo DiCaprio            The Wolf of Wall Street            8.2
5   Leonardo DiCaprio                     Shutter Island            8.1
6   Leonardo DiCaprio                       The Revenant            8.0
7   Leonardo DiCaprio                             Hubble            7.7
8   Leonardo DiCaprio                   The Great Gatsby            7.3
9   Leonardo DiCaprio                 Out of the Furnace            6.8
10  Leonardo DiCaprio                           J. Edgar            6.6
11  Leonardo DiCaprio                      Live by Night            6.4
12  Leonardo DiCaprio                           Delirium            5.7
13  Leonardo DiCaprio                      Runner Runner            5.6
14  Leonardo DiCaprio                    Red Riding Hood            5.5
15  Leonardo DiCaprio                         Robin Hood            5.3

In [95]:
df4.shape

(16, 3)